@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
  max-width: 100%;
  background-attachment: fixed;
}

a {
  font-size: 1.7rem;
}

p {
  margin: 15px 0;
  font-size: 1.7rem;
}

h2 {
  font-size: 3.7rem;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 15px 30px #6a6ab267;
          box-shadow: 5px 15px 30px #6a6ab267;
}

.btn-primary {
  background-color: #6A6AB2;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40%;
}

.checkbox, .contact__block {
  display: none;
}

.close {
  display: none;
}

.title {
  font-size: 6rem;
  font-weight: 900;
}

main {
  padding: 0 5px;
}

main .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

main .header__wrapper .logo {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  color: #333;
}

main .header__wrapper .logo:hover {
  background-color: #6A6AB2;
  -webkit-transition: linear .7s;
  transition: linear .7s;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main .header__wrapper .logo span {
  color: #6A6AB2;
}

main .header__wrapper nav .nav__link {
  margin-left: 40px;
  font-weight: bold;
  font-size: 1.7rem;
}

main .header__wrapper nav :hover {
  color: #6A6AB2;
  -webkit-transition: .6s linear;
  transition: .6s linear;
}

@media screen and (max-width: 768px) {
  .checkbox {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background: url("https://i.pinimg.com/736x/db/aa/8e/dbaa8e9c3aaae8eb8f7ac5e804cdf4d7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    -webkit-transition: .7s all;
    transition: .7s all;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav .nav__link {
    margin: 10px 0;
  }
  nav .close {
    display: block;
    margin-bottom: 2em;
  }
  nav .contact__block {
    margin-top: 5em;
    background-color: white;
    display: block;
    border-radius: 10px;
    width: 100%;
    padding: 1em;
    text-align: center;
    -webkit-box-shadow: 5px 15px 30px #6a6ab267;
            box-shadow: 5px 15px 30px #6a6ab267;
  }
  nav .contact__block h4 {
    margin: 20px 0;
  }
  nav.active {
    right: 0;
  }
  .title {
    font-size: 2.6rem;
  }
}
/*# sourceMappingURL=main.css.map */